body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #1e3c72;
    background: linear-gradient(to top, #2a5298, #1e3c72);
}

h1, p {
    color: #FFF;
}

h2 {
    color: #2a5298;
    font-weight: bold;
}

.card {
    border: none;
}